/* 이렇게 되어 있는 것은 주석입니다. */
/* 컴퓨터가 이렇게 되어있는 줄은    */
/* 그냥 무시하게 됩니다.          */

* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 0.5rem;
}

.wrapper {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_container {
  width: 600px;
  height: 400px;
  border: 2px solid #d2d2d2;
  border-radius: 20px;
  margin-bottom: 1rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  /* ********************************* */
  /* 여기에 어떤 코드를 추가해야             */
  /* div.solve_this가 가운데 정렬이 될까요? */



  /* ********************************* */
}

.solve_this {
  background-image: url("KakaoTalk_20180329_200049013.jpg");
  background-size: cover;
  width: 550px;
  height: 350px;
  /* ********************************* */
  /* 여기에 어떤 코드를 추가해야              */
  /* 이미지가 가운데 정렬이 될까요?           */
  /* 또 이미지가 너무 크거나 너무 작다면       */
  /* 사이즈 조절을 어떻게 해야 .solve_this에 */
  /* 이미지가 예쁘게 들어갈까요?             */
  /* 필요하다면 새로운 HTML가 새로운 CSS를    */
  /* 자유롭게 추가하여 문제를 해결해주세요!     */
  /* 늘 그렇듯 정해진 정답은 없습니다 :)      */



  /* ********************************* */
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  margin-bottom: 0.2rem;
}
